<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @room %>

<%= turbo_frame_tag "room" do %>
  <%= render @room %>

  <p>
    <button class="bg-gray pt-2 pr-2 pb-2 pl-2 rounded shadow-lg shadow-gray hover:bg-sky-700 focus:outline-none focus:ring focus:ring-black">
      <%= link_to "Edit this room", edit_room_path(@room) %> 
    </button>            
    <button class="bg-gray pt-2 pr-2 pb-2 pl-2 rounded shadow-lg shadow-gray hover:bg-sky-700 focus:outline-none focus:ring focus:ring-black">
      <%= link_to "Back to rooms", rooms_path, "data-turbo-frame": "_top" %>
    </button>
  </p>
<% end %>

<div id="messages">
  <%= render @room.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>

